<!DOCTYPE html>
<html style="margin: 0px; height: 100%;">
  <head>
    <title>Make My Holiday</title>
    <meta
      name="viewport"
      content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1"
    />
    <meta property="og:url" content="http://http://www.makemyholiday.com.au/" />
    <meta property="og:type" content="product" />
    <meta property="og:title" content="This Page Title" />
    <meta
      property="og:image"
      content="http://www.makemyholiday.com.au/image.jpg"
    />
    <meta property="og:description" content="Description of my product." />
    <meta property="fb:app_id" content="749657255797506" />
  </head>
  <body style="margin: 0px; height: 100%;">
    <div id="content" style="margin: 0px; height: 100%;">Web Main Page</div>
  </body>
</html>
