a {
  color: #00b7ff;
}

#oops {
  display: flex;
  height: 100vh;
  text-align: center;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
}

#oops-body {
  width: 30em;
}

#oops h1 {
  font-weight: 300;
}

#oops-subtitle {
  color: #888;
}

.swiper-container {
  margin-left: 0px;
}
